.top-menu{
  width:100%;
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  height: 60px;
  background-color: #ccc;
}
.container{
  margin:60px auto;
  width: 1024px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 0px;
  background-color: #f00;
  height: 100%;
}
.header{
  width:1034px;
  margin-right: -5px;
  margin-top: -5px;
  margin-left: -5px;
  height: 200px;
  background-color: #aaa;
}
.logo{
   margin-left:50px;
   margin-top:75px; 
   float: left;
}
.slider-area{
  width:1034px;
  margin-right: -5px;
  margin-top: 10px;
  margin-left: -5px;
  height: 250px;
  background-color: #aaa;
}
.breadcump-area{
  width:1034px;
  margin-right: -5px;
  margin-top: 10px;
  margin-left: -5px;
  height: 50px;
  background-color: #aaa;
}
/*sola yasla*/
.left {
  float: left;
  margin-left: -5px;
  margin-top: 10px;
  height: 1030px;
  width: 745px;
  background-color: #aaa;
}
.content-area{
  width:745px;
  height: 250px;
  margin-bottom: 10px;
  background-color: #555;
}
.content-pic{
  width:300px;
  height: 230px;
  margin-left:10px;
  margin-top:10px; 
  float: left;
  background-color: #aca;
}
.content-button{
  width:200px;
  height: 40px;
  margin-right:10px;
  margin-top:180px; 
  float: right;
  text-align: center;
  padding-top: 20px;
  text-decoration: none;
  cursor: pointer;
  background-color: #aca;
  color:#000;
}
.content-button a{
  text-decoration: none;
  color: #000;
}
.content-button a:hover{
  text-decoration: none;
  color: #000;
  font-size: 20px;
}
/*saga yasla*/
.right {
  float: right;
  margin-right: -5px;
  margin-top: 10px;
  height: 1030px;
  width: 280px;
  background-color: #aaa;
}
.profile-area{
  width:280px;
  height: 250px;
  background-color: #555;
}
.profile-pic{
  width: 100px;
  height: 100px;
  margin-left: 80px;
  margin-top: 10px;
  background: white;
  float: left;
  -moz-border-radius: 300px / 300px;
  -webkit-border-radius: 300px / 300px;
  border-radius: 300px / 300px;
  overflow: hidden;
}
.profile-pic img {
  padding: 0;
  max-width: 100%;
  max-height: 100%;
}
.profile-text{
  width:250px;
  height: 110px;
  margin-left:10px;
  margin-right:10px;
  margin-top:10px; 
  float: right;
  text-align: center;
  padding:5px;
  text-decoration: none;
  background-color: #aca;
  color:#000;
}
.category-area{
  width:280px;
  margin-top:10px;  
  height: 770px;
  background-color: #555;
}
.clear{
  clear: both;
}
.footer{
  width:1034px;
  margin-right: -5px;
  margin-bottom: 0px;
  margin-top: 10px;
  margin-left: -5px;
  height: 200px;
  background-color: #aaa;
}

.copyright{
  color: #fff;
  font-size: 15px;
  padding: 8px 12px;
  width: auto;
  margin:0 auto;
  margin-top: 80px;
  padding-left: 30px;
  text-align: center;
  background-color: #ddd;
  float: left
}

/* right area menu */
.right-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #f1f1f1;
  border-bottom: 1px solid #555;
}

.right-li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

.right-li {
  text-align: left;
  border-bottom: 1px solid #555;
}

.right-li:last-child {
  border-bottom: none;
}

.right-li a.right-active {
  background-color: #4CAF50;
  color: white;
}

.right-li a:hover:not(.right-active) {
  background-color: #555;
  color: white;
}

/* navbar */

.navbar-ul {
  list-style-type: none;
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
  margin-top:0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  background-color: #333;
}

.navbar-li {
  float: left;
}

.navbar-li a {
  display: block;
  color: white;
  text-align: center;
  padding: 23px 16px;
  text-decoration: none;
}

.navbar-li a:hover:not(.navbar-active) {
  background-color: #111;
}

.navbar-active {
  background-color: #4CAF50;
}

/* breadcump */

.breadcrumb-ul {
  padding: 15px 16px;
  list-style: none;
  background-color: #eee;
  max-height: 100%;
}
.breadcrumb-ul li {
  display: inline;
  font-size: 18px;
  max-height: 100%;
}
.breadcrumb-ul li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}
.breadcrumb-ul li a {
  color: #0275d8;
  text-decoration: none;
}
.breadcrumb-ul li a:hover {
  color: #01447e;
  text-decoration: underline;
}